*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", Arial, sans serif ;
    line-height: 2.100;
    color: black;
    background-color: #f7f7f7;
}

.container {
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-bar {
    background-color: #111827;
    color: #e5e7eb;
    font-size: 0.85rem;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.4rem 0;
    flex-wrap: wrap;
}

.main-header {
        background-color: #ffffff;
    box-shadow: 0 2px 6px rgba (0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 10000;
}
    